[build]
  command = "npm run build"
  publish = "dist"

[functions]
  directory = "functions/dist" 
  node_bundler = "esbuild"

[[headers]]
  for = "/*"
  [headers.values]
    Access-Control-Allow-Origin = "*"
    Access-Control-Allow-Headers = "Content-Type, Authorization"
    Access-Control-Allow-Methods = "GET, POST, OPTIONS"

[dev]
  targetPort = 8081 
  port = 8888